{% load static %}
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <img src="{% static 'images/icons8-r-50.png'%}" alt="site logo" height="30px" width="30px">
        <a class="navbar-brand" href="{% url 'portfolio_homepage' %}">Renjie Zhu's Porfolio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
            aria-controls="navbars" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if request.get_full_path == '/' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'portfolio_homepage' %}">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item {% if request.get_full_path == '/projects/' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'portfolio_project_page' %}">Projects</a>
                </li>
                <li class="nav-item {% if request.get_full_path == '/contacts/' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'portfolio_contact_page' %}">Contacts</a>
                </li>
            </ul>
        </div>
    </div>
</nav>