[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
asgiref = "==3.2.7"
atomicwrites = "==1.4.0"
attrs = "==19.3.0"
autopep8 = "==1.4.4"
certifi = "==2020.4.5.1"
colorama = "==0.4.3"
django-filter = "==2.2.0"
djangorestframework = "==3.11.0"
more-itertools = "==8.2.0"
pluggy = "==0.13.1"
py = "==1.8.1"
pycodestyle = "==2.5.0"
pyparsing = "==2.4.7"
pytest = "==5.4.1"
pytz = "==2020.1"
six = "==1.14.0"
sqlparse = "==0.3.1"
wcwidth = "==0.1.9"
wincertstore = "==0.2"
Django = "==3.0.3"
Markdown = "==3.1.1"

[requires]
python_version = "3.7"
